{% extends "layout.html" %}
{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container w-50">
    <h3>Login</h3>
    <!-- Exibir mensagens de sucesso ou erro -->
    {% if messages %}
    <div class="mb-4">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Seu usuário" autofocus="" autocomplete="username" maxlength="150" required="" id="id_username" data-listener-added_744153e9="true">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Sua senha" autocomplete="current-password" required="" id="id_password">
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock %}