{% extends "layout.html" %}

{% block title %}
Meu Perfil
{% endblock %}

{% block content %}
<h1>Meu Perfil</h1>
<form method="POST" action="{% url 'meu_perfil' %}">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Usuario" autofocus="" maxlength="150" required="" id="id_username" value="{{user.username}}">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="first_name" placeholder="Primeiro Nome" autofocus="" maxlength="150" id="id_first_name" value="{{user.first_name}}">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="last_name" placeholder="Sobrenome" autofocus="" maxlength="150" id="id_last_name" value="{{user.last_name}}">
    </div>

    <div class="mb-3">
        <input type="email" class="form-control" name="email", placeholder="email" value="{{user.email}}">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

{% endblock %}